{% extends 'core/base.html' %}

{% block content %}
    <h2>Cadastrar/Editar Árvore</h2>
    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            {{ form.as_p }}
        </div>

<button type="submit" class="btn btn-success">Salvar Árvore</button>

{# SÓ MOSTRA O BOTÃO DE DELETAR SE O OBJETO JÁ EXISTIR (TIVER UM PK) #}
{% if form.instance.pk %}
    <a href="{% url 'arvore_delete' pk=form.instance.pk %}" class="btn btn-danger">Deletar</a>
{% endif %}

<a href="{% url 'arvore_list' %}" class="btn btn-light">Cancelar</a>
    </form>
{% endblock %}