{% extends 'core/base_app.html' %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h3>Tem certeza?</h3>
        </div>
        <div class="card-body">
            <p>Você está prestes a deletar permanentemente a espécie: <strong>"{{ object }}"</strong>.</p>
            <p class="text-danger">Atenção: Você não poderá deletar espécies que já possuem árvores plantadas no mapa.</p>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Sim, quero deletar</button>
                <a href="{% url 'especie_list' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
{% endblock %}